.container-default-DK{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}
.container-default-NA {
    display: flex;
    flex-direction: column; /* Sắp xếp theo chiều dọc */
}